<app-site-header></app-site-header>

<section class="hero-section donation-hero">
  <div class="hero-content">
    <h1>Підтримай тих, хто цього потребує</h1>
  </div>
</section>

<main class="donation-list-container">
  <div *ngFor="let donation of donations" class="donation-card" (click)="toggleDetails(donation.id)">
    <h2>{{ donation.name }}</h2>
    <p>{{ donation.description }}</p>
    <div *ngIf="expandedDonationId === donation.id && donationDetailsCache[donation.id]">
      <p><strong>Зібрано:</strong> {{ donationDetailsCache[donation.id].got_amount }} / {{ donationDetailsCache[donation.id].need_amount }} грн</p>
      <p><strong>Початок:</strong> {{ getFormattedDate(donationDetailsCache[donation.id].created_at) }}</p>
      <p *ngIf="donationDetailsCache[donation.id].ended_at">
        <strong>Завершення:</strong> {{ getFormattedDate(donationDetailsCache[donation.id].ended_at) }}
      </p>
      <p *ngIf="donationDetailsCache[donation.id].ended_at"><strong>Завершується:</strong> {{ donationDetailsCache[donation.id].ended_at | date:'short' }}</p>
    </div>
    <button (click)="goToPayment(donation.id); $event.stopPropagation()" class="donate-btn">Задонатити</button>
  </div>
</main>

<app-site-footer></app-site-footer>
