<app-site-header></app-site-header>

<main class="animal-list-container">

  <!-- Секція для неавторизованих -->
  <section class="hero-section" [ngClass]="isAuthenticated ? 'bear-bg' : 'forest-bg'">
    <div class="hero-content">
      <h1>{{ isAuthenticated
        ? 'Усі тварини, що потребують твоєї уваги'
        : 'Хочеш стежити за твариною?' }}</h1>
      <div class="hero-buttons" *ngIf="!isAuthenticated">
        <a routerLink="/auth/login" class="green-btn">Увійти</a>
        <a routerLink="/auth/register" class="green-btn">Зареєструватися</a>
      </div>
    </div>
  </section>

  <section class="filter-controls">
    <label class="filter-group">
      Стан:
      <select [(ngModel)]="selectedStatus" (change)="applyFilters()">
        <option [value]="''">Усі</option>
        <option value="1">Знайдено</option>
        <option value="2">На лікуванні</option>
        <option value="3">Здорова</option>
        <option value="4">Готова до усиновлення</option>
        <option value="5">Усиновлена</option>
      </select>
    </label>

    <div class="btn-group">
      <button class="green-btn sort-btn" (click)="toggleSortOrder()">
        {{ sortOrder === 'desc' ? 'Найстаріші' : 'Найновіші' }} спершу
      </button>

      <button class="green-btn reset-btn" (click)="resetFilters()">
        Скинути фільтри
      </button>
    </div>
  </section>

  <!-- Список тварин -->
  <p *ngIf="animals.length === 0" class="empty-message">
    Жодної тваринки не знайдено
  </p>
  <section class="animal-grid">
    <div class="animal-card" *ngFor="let animal of visibleAnimals">
      <a [routerLink]="['/animal', animal.id]">
        <img *ngIf="animal.isFollowing"
          src="assets/img/paws.png"
          alt="Стежите"
          class="follow-marker-img" />
        <img [src]="animal.photoUrl || 'assets/img/animal-default.jpg'" alt="Тварина" />
        <div class="animal-info">
          <h3>{{ animal.name || 'Тварина' }}</h3>
          <button
            [disabled]="!isAuthenticated"
            class="green-btn"
            [ngClass]="{
              'not-authenticated': !isAuthenticated,
              'is-following': isAuthenticated && animal.isFollowing
            }"
            (click)="toggleFollow(animal); $event.preventDefault(); $event.stopPropagation()"
            >
              {{
                !isAuthenticated
                  ? 'Стежити за твариною'
                  : animal.isFollowing
                    ? 'Перестати слідкувати'
                    : 'Стежити'
              }}
            </button>
        </div>
      </a>
    </div>
    <div class="load-more-wrapper" *ngIf="visibleCount < animals.length">
      <button class="green-btn" (click)="loadMore()">Завантажити ще</button>
    </div>
  </section>
</main>

<app-site-footer></app-site-footer>
