<div class="volunteer-wait-container">
  <h1>Очікуйте волонтера<span class="dots"></span></h1>
  <p>Волонтер <strong>{{ volunteer.name }}</strong> скоро прибуде.</p>

  <p>Для зв’язку з <strong>{{ volunteer.name }}</strong> використовуйте:</p>
  <ul class="contacts">
    <li>{{ volunteer.phone }}</li>
    <li>{{ volunteer.telegram }} в telegram</li>
    <li>{{ volunteer.whatsapp }} в whatsapp</li>
  </ul>

  <p>Після прибуття волонтера підтвердіть успішне передання тварини:</p>
  <button class="action-button" (click)="goTo()">Передано</button>
</div>
