<div class="reset-container">
  <div class="reset-form">
    <button class="back-btn" (click)="goBack()">← На головну</button>
    <h1>Скидання пароля</h1>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="password">Пароль</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Пароль"
          [class.invalid]="resetForm.get('password')?.invalid && resetForm.get('password')?.touched"
        />
        <div class="error" *ngIf="resetForm.get('password')?.errors?.['required'] && resetForm.get('password')?.touched">
          Пароль обовʼязковий
        </div>
        <div class="error" *ngIf="resetForm.get('password')?.errors?.['minlength'] && resetForm.get('password')?.touched">
          Мінімум 6 символів
        </div>
      </div>

      <div class="input-group">
        <label for="password">Повтор пароля</label>
        <input
          type="password"
          id="repeat_password"
          formControlName="repeat_password"
          placeholder="Повтор пароля"
          [class.invalid]="resetForm.get('repeat_password')?.invalid && resetForm.get('repeat_password')?.touched"
        />
	<div class="error" *ngIf="resetForm.get('repeat_password')?.errors?.['required'] && resetForm.get('repeat_password')?.touched">
          Пароль обовʼязковий
        </div>
	<div class="error" *ngIf="resetForm.get('repeat_password')?.errors?.['minlength'] && resetForm.get('repeat_password')?.touched">
          Мінімум 6 символів
        </div>
      </div>

      <div class="error login-error" *ngIf="resetError">{{ resetError }}</div>

      <button class="submit-btn" type="submit">Скинути</button>
    </form>
  </div>

  <div class="login-image">
    <img src="assets/img/squirrel.jpg" alt="Білка" />
  </div>
</div>
