<div class="thank-you-container">
  <div *ngIf="method === 'self'; else volunteerBlock">
    <div class="thank-you-container-start">
    <h1>Дякуємо за Ваш час!</h1>
    <p>
      Після передання тваринки до найближчого центру, будь ласка, підтвердьте успішне передання тварини персоналу:
    </p>
    <button class="action-button" (click)="goTo()">Передано</button>
    </div>
    <h2 class="section-title">Вет-клініки поруч:</h2>
    <div #map class="map-container"></div>
    <div class="button-wrapper">
      <button class="google-route-button" (click)="openInGoogleMaps()">
        Відкрити в Google Maps
      </button>
    </div>
  </div>

  <ng-template #volunteerBlock>
  <div class="block2">
    <h1>Дякуємо за співпрацю!</h1>
    <p>
      Щоб Ви мали змогу слідкувати за долею тваринки далі, вона буде додана до Вашого профілю, якщо ви зареєстрований.
    </p>
    <button class="action-button" (click)="goTo()">На головну сторінку</button>
  </div>
</ng-template>
</div>

<div class="modal-overlay" *ngIf="isModalVisible">
  <div class="modal">
    <p>{{ modalMessage }}</p>
    <div class="modal-buttons">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</div>

